*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container_h1{
    text-align: center;
    padding: 15px;
    background-color: lightpink;
}

.subscription_plan{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
}

.subscription_plan h1,h2{
    text-align: center;
    padding-bottom: 10px;
}

.subscription_plan-div{
    padding: 25px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
    min-width: 250px;
    width: 25%;
}


.subscription_plan-div-features{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    line-height: 2.5;
}